* {
  margin: 0;
  padding: 0;
}

.slider {
  background: linear-gradient(0.15turn, #88eb8d, #9198e5);
  padding: 10px 0 50px;
  height: 92vh;
}

.slider__h1 {
  font-size: 10vh;
  text-align: center;
  margin: 30px;
}

.slider__wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.slider__img {
  width: 90vh;
  border-radius: 5%;
  position: relative;
}

.slider__dots {
  position: absolute;

  left: 50%;
  bottom: 2vh;
  transform: translateX(-50%);
}

.slider__dot {
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid rgba(125, 125, 125, 0.7);
  width: 20px;
  height: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.slider__dot--active {
  background-color: white;
  border: 3px solid white;
  font-weight: bold;
}

.slider__arrows {
  position: absolute;
  width: 90%;
  background-color: black;
}

.slider__leftArrow,
.slider__rightArrow {
  font-weight: bold;
  font-size: 20vh;
  margin: 10px;
  padding: 5px 20px;
  font-size: 5vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider__leftArrow {
  left: 0;
}





.slider__rightArrow {
  right: 0;
}

.slider__leftArrow:hover,
.slider__rightArrow:hover {
  font-weight: bold;
  color: white;
}

@media only screen and (min-width: 200px) and (max-width: 900px) {
  .slider__h1 {
    font-size: 5vh;
  }

  .slider__img {
    width: 40vh;
  }

  .slider__dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    font-size: 10px;
  }
}